body{
  margin:0;
  overflow:hidden;
  background:black;
  font-family:"Times New Roman", serif;
}

canvas{
  position:fixed;
  top:0;
  left:0;
}

/* TEXT */
#text{
  position:fixed;
  inset:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hidden{display:none;}

.line{
  opacity:0;
  margin:12px 0;
}

.fade-line{
  animation:fadeIn 2s ease forwards;
}

@keyframes fadeIn{
  to{opacity:1;}
}

.l1{font-size:52px; color:gold;}
.l2{font-size:60px; color:cyan;}
.l3{font-size:68px; color:violet;}
